<div class="container">
  <h1>Islands</h1>
  <ul>
    <% @islands.each  do |island| %>
      <div class="container">
        <li>
          <h3><%= link_to island.island_name, island_path(island)%></h3>
        </li>
      </div>
    <% end %>
  </ul>
</div>