<div class="banner" style="background-image: url(<%= asset_path 'gustoHop-banner.jpg' %>); padding: 100px;">
  <div class="container">
    <div class="container">
      <h1>Discover Island wines</h1>
      <h3>take a trip in every sip!</h3>
    </div>
    <div class="container">
      <h3>search wines from one of our island producers</h3>
    </div>
  </div>
</div>
<div class="banner">
  <div class="container call-to-action">
    <h3>WANT TO LIST YOUR WINE?</h3>
    <a href="mailto:info@gustohop.com" class="btn btn-primary">CONTACT US!</a>
  </div>
</div>
<div class="container island-cards">
  <h2>Islands</h2>
  <ul>
    <% @islands.each  do |island| %>
      <div class="container">
        <li>
          <h3><%= link_to island.island_name, island_path(island)%></h3>
        </li>
      </div>
    <% end %>
  </ul>
</div>