// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap');

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

@font-face {
  font-family: "mascarpone-oblique";
  src: font-url('Mascarpone-Oblique.ttf');
  src: font-url('Mascarpone-Oblique.ttf?#iefix') format('embedded-opentype'),
       // font-url('FontFile.woff') format('woff'),
       // font-url('FontFile.ttf') format('truetype')
}
@font-face {
  font-family: "mascarpone-regular";
  src: font-url('Mascarpone-Regular.ttf');
  src: font-url('Mascarpone-Regular.ttf?#iefix') format('embedded-opentype'),
       // font-url('FontFile.woff') format('woff'),
       // font-url('FontFile.ttf') format('truetype')
}


// Define fonts for body and headers
// $body-font: "Work Sans", "Helvetica", "sans-serif";
$body-font: 'Cutive Mono', monospace;
$headers-font: 'mascarpone-oblique', 'mascarpone-regular', ;


// $my-font: "Font Name";


h1 {
  font-family: mascarpone-regular; 
  font-size: 3.0em;
  color: #393939;
}

h2 {
  font-family: mascarpone-oblique;
  font-size: 2.6em;
  color: #5A5A5A;
}

h3 {
  font-family: mascarpone-oblique;
  font-size: 2.3em;
  color: #5A5A5A;
}

h4 {
  font-family: mascarpone-oblique;
  font-size: 2.0em;
  color: #7E7E7E;
}

h5 {
  font-family: mascarpone-oblique;
  font-size: 1.8em;
  color: #7E7E7E;
}


p {
  font-size: 1.3em;
  color: #393939;
}
