// Specific CSS for your home-page

.value-add {
  width: 925px;
  padding: 15px;
  align-text: justify;
}

.call-to-action {
  display: flex;
  width: 500px;
  padding: 15px;
  align-text: center;
  justify-content: space-between;
  align-items: flex-start;
}

.island-cards {
  padding: 40px 70px;
}

