<div class="d-flex flex-column">
  <footer class="footer navbar-fixed-bottom footer-style">
    <div class="container">
      <div>
        <span>gustoHop &copy; 2020</span>
      </div>
      <div class="ml-auto">
        <span>designed by </span>
        <a href="https://anders-portfolio.herokuapp.com/">Anders Kiss</a>
      </div>
    </div>
  </footer>
</div>