<div class="container">
  <h1>Producers from <%= @island.island_name %></h1>
  <table>
    <thead>
      <tr>
        <th>NAME</th>
        <th>LINK</th>
        <th colspan="10"></th>
      </tr>
    </thead>
    <tbody>
      <% @producers.each do |producer| %>
        <tr>
          <td><%= producer.producer_name %></td>
          <td><%= link_to "DETAILS", island_producer_path(producer.island, producer)%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>