<div class="container">
  <h1>Producers from <%= @island.island_name %></h1>
  <ul>
    <% @producers.each do |producer| %>
      <div class="container">
        <h5><%= producer.producer_name %></h5>
        <h5><%= link_to "details", island_producer_path(producer.island, producer)%></h5>
      </div>
    <% end %>
  </ul>
</div>