<div class="container">
  <h1>Producers from <%= @island.island_name %></h1>
  <table>
    <thead>
      <tr>
        <th>
          <h3>NAME</h3>
        </th>
        <th>
          <h3>DETAILS</h3>
        </th>
        <th colspan="10"></th>
      </tr>
    </thead>
    <tbody>
      <% @producers.each do |producer| %>
        <tr>
          <td><%= producer.producer_name %></td>
          <td>
            <%= link_to "more info", island_producer_path(producer.island, producer)%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "ADD Producer", new_island_producer_path, :class => "btn btn-primary" %>
</div>