// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


h1 {
  font-family: mascarpone-regular; 
  font-size: 3.0em;
  color: #393939;
}

h2 {
  font-family: mascarpone-oblique;
  font-size: 2.6em;
  color: #5A5A5A;
}

h3 {
  font-family: mascarpone-oblique;
  font-size: 2.3em;
  color: #5A5A5A;
}

h4 {
  font-family: mascarpone-oblique;
  font-size: 2.0em;
  color: #7E7E7E;
}

h5 {
  font-family: mascarpone-oblique;
  font-size: 1.8em;
  color: #7E7E7E;
}


p {
  font-size: 1.3em;
  color: #393939;
}
